{
  "extends": ["@rocketseat/eslint-config/react"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "camelcase": [
      "error",
      {
        "allow": ["Roboto_400Regular", "Roboto_700Bold"]
      }
    ],
    "simple-import-sort/imports": "error"
  }
}
